@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%239C92AC' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hover-transition {
  color: white;
  background-color: blueviolet;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.hover-transition:hover {
  color: black;
  background-color: white;
}
